## ex 1

Un KPI est un indiquateur de performance.
c'est une information qui permet l'appreciation de la situation pour la réalisation d'objectif
(les éléments les plus importants à suivre)

## ex 2

In [1]:
import pandas as pd
import numpy as np

## ex 3

In [31]:
fp = 'eval_data.csv'
df = pd.read_csv(fp)

## ex 4

In [4]:
df.head(10)

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,NaN
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,NaN
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,6,3,1,Side of Chips,NaN,$1.69
7,7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

## ex 5

In [7]:
df.shape

(4622, 6)

## ex 6

In [8]:
df.dtypes

Unnamed: 0             int64
order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

## ex 7

In [24]:
df.describe()

        Unnamed: 0     order_id     quantity   item_price  command_price
count  4622.000000  4622.000000  4622.000000  4522.000000    4522.000000
mean   2310.500000   927.254868     1.075725     7.576550       8.624065
std    1334.400802   528.890796     0.410186     4.223898      12.738030
min       0.000000     1.000000     1.000000     1.090000       1.090000
25%    1155.250000   477.250000     1.000000     3.990000       4.450000
50%    2310.500000   926.000000     1.000000     8.750000       8.750000
75%    3465.750000  1393.000000     1.000000     9.390000      10.980000
max    4621.000000  1834.000000    15.000000    44.250000     663.750000

## ex 8

In [26]:
df['item_name'].mode()

0    Chicken Bowl
dtype: object

item le plus commandé: Chicken Bowl

## ex 9

In [13]:
df['quantity'].sum()

4972

Nombre d'items commandés: 4972

## ex 10

In [32]:
df['item_price'] = df['item_price'].str.slice(start=1)
df['item_price'] = df['item_price'].astype('float')

In [33]:
df['command_price'] = df['item_price'] * df['quantity']
df['command_price'].sum()

38998.020000000004

chiffre d'affaire: 38998.020000000004$

## ex 11

In [22]:
df['command_price'].mean()

8.624064573197701

revenu moyen par commande: 8.624064573197701$